body
{
    font-family: 'Raleway', sans-serif;
}

.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

ul li a /*header*/
{
    text-decoration: none;
}

.conteneur1 ligne /*header*/
{
    border-top: 2px solid #0065FC;
}

.inscription /*header*/
{
    color: #0065FC;
}

.conteneur /*filtres*/
{
    display: flex;
    align-items: center;
    
}

.filtres /*filtres*/
{
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.deplacement2 /*filtres*/
{
    margin-right: 20px;
}

.centrage /*filtres*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones /*filtres*/
{
    color: #0065fc;
    border: 1px solid grey;
    height: 45px;
    border-radius: 25px;
    margin-right: 15px;
}

.icones:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.texte /*filtres*/
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0 25px 25px 0;
    color: black;
    text-decoration: none;
}

.rond /*filtres*/
{
    margin-left: -2px;
    border-radius: 25px;
    width: 48px;
    height: 48px;
    columns: #0065fc;
    background-color:#deebff;
}

.conteneur-recherche /*recherche*/
{
    width: 400px;
    border-radius: 10px;
    margin-left: 22px;
}

.position /*recherche*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConteneurIcone /*recherche*/
{
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -2px;
}

.casevide /*recherche*/
{
    height: 44px;
    width: 200px;
    font-size: 18px;
    color: black;
}

.couleur /*recherche*/
{
    background-color: blue;
    height: 50px;
    width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/*info*/

.info2
{
display: flex;
align-items: center;
margin: 30px;
}

.texteinfo
{
    margin-left: 15px;
}

.cercle2
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #deebff;
    color: #0065fc;
}

.couleur2
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.conteneur_hebergements /*hébergement à Marseille*/
{
    padding: 20px;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-wrap: wrap;
    width: 930px;
    height: 650px;
    float: left;
    border-radius: 3%;
    margin: 25px;
}

.arrondi1 /*hébergement à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 250px;
}

.arrondi2 /*Hébergements à Marseille*/
{
    width: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.arrondi3 /*les populaires*/
{
    width: 160px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}



.arrondi4 /*Activités à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 300px;
    
}

.etoile1 /*general*/
{
    color: #0065FC;
}

.etoile2 /*general*/
{
    color: #F2F2F2;
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}  

.cannebiere:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}


h4 /*hébergement à Marseille*/
{
    margin: 5px;
}


.tarif /*hébergement à Marseille*/
{
    margin: 3px;
    margin-bottom: 5px;
}

.port /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.port:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.mouettes /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.mouettes:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.mer /*hébergement à Marseille*/
{
    
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.mer:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.panier /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.panier:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.amina /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
    
}

.amina:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}
.populaires /*les populaires*/
{
    
    padding: 20px;
    margin: 20px;
    background-color: blue;
    flex-wrap: wrap;
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    display: inline-flex;
}

.soleil /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-radius: 10%;
    
}



.soleil:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.coeur /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-radius: 10%;
    
}

.coeur:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.bleu /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-radius: 10%;
    
}

.bleu:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.activités /*Activités à Marseille*/
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
}

.port2 /*Activités à Marseille*/
{
    width: 350px;
    margin: 1px;
    border: 1px solid red;
}

.port2:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.fort /*Activités à Marseille*/
{
    width: 300px;
    margin: 40px;
    border: 1px solid red;
}

.fort:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.iles /*Activités à Marseille*/
{
    width: 400;
    margin: 40px;
    border: 1px solid red;
}

.iles:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.paysage /*Activités à Marseille*/
{
    width: 350px;
    margin: 1px;
    border: 1px solid red;
}

.paysage:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.eglise /*Activités à Marseille*/
{
    width: 300px;
    border: 1px solid red;
}

.eglise:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.parc /*Activités à Marseille*/
{
    width: 300px;
    border: 1px solid red;
}

.parc:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #F2F2F2;
    height: 230px;
}

.footer1 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 50px
}

.footer2 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.footer3 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

a /*general*/
{
    color: black;
}

footer a
{
    margin: 5px
    
   
}











