body
{
    font-family: 'Raleway', sans-serif;
}

.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

#conteneur-recherche /*recherche*/
{
    padding: 15px;
}

form
{
    display: flex;
}

.filtres ul 
{
     display: flex;
     list-style-type: none;
     border: 1px solid blue;
}

.filtres ul li{
    margin-left: 20px;
    border: 1px solid green;
}

.conteneur_hebergements /*hébergement à Marseille*/
{
    padding: 20px;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-wrap: wrap;
    width: 930px;
    height: 850px;
    float: left;
    border-radius: 3%;
    margin: 25px;
    border: 5px solid green;
    
}

.arrondi1 /*hébergement à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 250px;
}

.arrondi2 /*Hébergements à Marseille*/
{
    width: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.arrondi3 /*les populaires*/
{
    width: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.arrondi4 /*Activités à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 300px;
    
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

h4
{
    margin: 5px;
}

.tarif
{
    margin: 3px;
    margin-bottom: 5px;
}

.port /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.mouettes /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.mer /*hébergement à Marseille*/
{
    
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.panier /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
}

.amina /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 245px;
    
}

.populaires /*les populaires*/
{
    
    padding: 20px;
    margin: 20px;
    background-color: blue;
    flex-wrap: wrap;
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    display: inline-flex;

    
    
}

.soleil /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-top-left-radius: 10%;
}

.coeur /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-top-left-radius: 10%;
}

.bleu /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 250px;
    border-top-left-radius: 10%;
}

.activités /*Activités à Marseille*/
{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;

    
    
}

.port2 /*Activités à Marseille*/
{
    width: 350px;
    margin: 1px;
    
}

.fort /*Activités à Marseille*/
{
    width: 350px;
    margin: 1px;
    
}

.iles /*Activités à Marseille*/
{
    
    width: 400;
    margin: 1px;
}

.paysage /*Activités à Marseille*/
{
    
    width: 350px;
    margin: 1px;
}

.eglise /*Activités à Marseille*/
{
    
    width: 350px;
    margin: 1px;
}

.parc /*Activités à Marseille*/
{
   
    width: 400px;
    margin: 1px;
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #F2F2F2;
    height: 230px;
}

.footer1 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 50px
}

.footer2 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.footer3 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

a /*general*/
{
    color: black;
}

footer a
{
     margin: 5px
}











