.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

#conteneur-recherche /*recherche*/
{
    
    padding: 15px;
    
}

.filtres /*filtres*/
{
    list-style-type: none;
}

.hebergements
{
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: silver;
    width: 50%;
}

.conteneur_hebergements
{
    display: flex;
    flex-direction: row;
}

.Hebergements1 /*hébergement à Marseille*/
{
    
    display: flex;
    flex-wrap: wrap;
    
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.port /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.mouettes /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.hebergements2
{
    display: flex;
    flex-wrap: wrap;
}

.mer /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.panier /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.amina /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.populaires /*les populaires*/
{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: silver;
    flex-wrap: wrap;
}

.soleil /*les populaires*/
{
    border: 1px solid black;
    border-radius: 10px;
    
    background-color: white;
    margin: 15px;
}

.coeur /*les populaires*/
{
    border: 1px solid black;
    border-radius: 10px;

    background-color: white;
    margin: 15px;
}

.bleu /*les populaires*/
{
    border: 1px solid black;
    border-radius: 10px;
    
    background-color: white;
    margin: 15px;
}





.activités /*Activités à Marseille*/
{
    display: flex;
    
}

.port2 /*Activités à Marseille*/
{
   
    border-radius: 10px;
    width: 90%;
    margin: 10px;
    
}

.fort /*Activités à Marseille*/
{
   
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    
}

.iles /*Activités à Marseille*/
{
    
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.paysage /*Activités à Marseille*/
{
    
    border-radius: 10px;
    width: 90%;
    margin: 10px;
}

.eglise /*Activités à Marseille*/
{
    
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.parc /*Activités à Marseille*/
{
    
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: grey;
}

.footer1
{
    padding: 50px;
    
}

.lou
{
    margin: 15px;
    
}










