body /*general*/
{
    font-family: 'Raleway', sans-serif;
}

.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

ul li a /*header*/
{
    text-decoration: none;
}

.deplacement
{
    margin-left: 35px;
}

.conteneur1 ligne /*header*/
{
    border-top: 2px solid #0065FC;
}

.inscription /*header*/
{
    color: #0065FC;
}

.conteneur /*filtres*/
{
    display: flex;
    align-items: center;
}

.filtres /*filtres*/
{
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.deplacement2 /*filtres*/
{
    margin-right: 20px;
}

.centrage /*filtres*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones /*filtres*/
{
    color: #0065fc;
    border: 1px solid grey;
    height: 45px;
    border-radius: 25px;
    margin-right: 15px;
}

.Decoration
{
    text-decoration: none;
}

.icones:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.texte /*filtres*/
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0 25px 25px 0;
    color: black;
    text-decoration: none;
}

.rond /*filtres*/
{
    margin-left: -2px;
    border-radius: 25px;
    width: 48px;
    height: 48px;
    columns: #0065fc;
    background-color:#deebff;
}

.conteneur-recherche /*recherche*/
{
    width: 400px;
    border-radius: 10px;
    margin-left: 12px;
}

.position /*recherche*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConteneurIcone /*recherche*/
{
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -2px;
}

.casevide /*recherche*/
{
    height: 44px;
    width: 200px;
    font-size: 18px;
    color: black;
}

.couleur /*recherche*/
{
    background-color: blue;
    height: 50px;
    width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.info2 /*info*/
{
display: flex;
align-items: center;
margin: 30px;
}

.texteinfo /*info*/
{
    margin-left: 15px;
}

.cercle2 /*info*/
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #deebff;
    color: #0065fc;
    display:flex;
    justify-content: center;
    align-items: center;
}

.couleur2 /*info*/
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Alignement
{
    align-items: center;
    display: flex;
    align-content: space-around;
}

.conteneur_hebergements /*hébergement à Marseille*/
{
    padding: 20px;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-wrap: wrap;
    width: 930px;
    height: 650px;
    float: left;
    border-radius: 3%;
    margin: 25px;
    margin-top: 30px;
    padding-top: 80px;
}

.hebergements
{
    margin-top: -40px;
    margin-left: 25px;
}

.arrondi1 /*hébergement à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 250px;
}

.arrondi2 /*Hébergements à Marseille*/
{
    width: 250px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
    
}

.arrondi3 /*les populaires*/
{
    width: 160px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    
}

.arrondi4 /*Activités à Marseille*/
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 330px;
    height: 430px;
    object-fit: cover;
}

.arrondi5
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 330px;
    height: 180px;
    object-fit: cover;
}

.etoile1 /*general*/
{
    color: #0065FC;
    
}

.etoile2 /*general*/
{
    color: #F2F2F2;
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 270px;
    margin-left: -287px;
}  

.cannebiere:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}


h3 /*hébergement à Marseille*/
{
    margin-top: -2px;
    margin-left: 10px;
    font-weight: bold;
}


.tarif /*hébergement à Marseille*/
{
    margin-top: -15px;
    margin-left: 10px;
}

.port /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 270px;
}

.port:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.mouettes /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 270px;
}

.mouettes:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.mer /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 270px;
}

.mer:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.panier /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 270px;
}

.panier:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.amina /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 270px;
}

.amina:hover /*hébergement à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.bordure
{
    margin-left: 25px;
}
.populaires /*les populaires*/
{
    height: 708px;
    padding: 20px;
    margin: 10px;
    background-color:#F2F2F2;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px;
    width: 400px;
}
.titre
{
    margin-top: 30px;
    height: 40px;
    margin-left: 23px;
}

.icone1
{
    padding-left: 90px;
}

.soleil /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 125px;
    border-radius: 10%;
    padding-top: 7px;
    padding-left: 4px;
    margin-top: -50px;
    display: flex;
}

.soleil:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.textepoulaire /*les populaires*/
{
    margin-left: 20px;
    
}

.textepoulaire p /*les populaires*/
{
margin-top: 0px;
}

.textepoulaire h4 /*les populaires*/
{
 margin-top: 0px;
 margin-bottom: 0px;
}

.etoile1
{
    margin-top: 30px;
    margin-left: 0%;
}

.coeur /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 128px;
    border-radius: 10%;
    padding-top: 4px;
    padding-left: 4px;
    display: flex;
}

.coeur:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.bleu /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 135px;
    border-radius: 10%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}

.bleu:hover /*les populaires*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.activités /*Activités à Marseille*/
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    
    border: 1px solid red;
}

.bordure2 /*Activités à Marseille*/
{
    margin-left: -50px;
}

.port2 /*Activités à Marseille*/
{
    width: auto;
   
    margin-left: -260px;
    border: 1px solid black;
}

.port2:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.fort /*Activités à Marseille*/
{
    width: auto;
    
   
    border: 1px solid black;
}

.fort:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.iles /*Activités à Marseille*/
{
    width: auto;
    
    margin-right: -15px;
    border: 1px solid black;
    
}

.iles:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.paysage /*Activités à Marseille*/
{
    width: auto;
    margin: 1px;
    border: 1px solid black;
    
}

.paysage:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.eglise /*Activités à Marseille*/
{
    width: auto;
    border: 1px solid black;
    
}

.eglise:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.parc /*Activités à Marseille*/
{
    width: auto;
    border: 1px solid black;
}

.parc:hover /*Activités à Marseille*/
{
    cursor: pointer;
    transform: scale(1.1);
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #F2F2F2;
    height: 230px;
}

.footer1 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 50px
}

.footer2 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.footer3 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

a /*general*/
{
    color: black;
}













