#conteneur /*header*/
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 17px;
}

.elements /*header*/
{
    width: 50px;
    height: 10px;
    margin: 60px;
}

.elements1 /*header*/
{
    color: blue;
}

#conteneur-2 /*bouton recherché*/
{
    display: flex;
    flex-wrap: wrap;
}

#conteneur-3 /*les filtres*/
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 17px;
}

.element# /*les filtres*/
{
    margin: 60px;
}

#hebergement /*section*/
{
    display:flex;
    flex-direction: row;
    
}

article /*section*/
{
    border: 1px solid black;
    border-radius: 20px ;
    padding: 10px;
    margin: 10px;

}

section /*section*/
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


footer /*footer*/
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.element /*footer*/
{
    width: 350px;
    text-align: justify;
    padding: 10px;
}






