.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

#conteneur-recherche /*recherche*/
{
    
    padding: 15px;
    
}

.filtres /*filtres*/
{
    list-style-type: none;
}

.Hebergements /*hébergement à Marseille*/
{
    border: 3px solid black;
}

.cannebière /*hébergement à Marseille*/
{
    border: 1px solid black;
}

.port /*hébergement à Marseille*/
{

}

.mouettes /*hébergement à Marseille*/
{

}

.mer /*hébergement à Marseille*/
{

}

.panier /*hébergement à Marseille*/
{

}

.amina /*hébergement à Marseille*/
{

}









