body /*general*/
{
    font-family: 'Raleway', sans-serif;
}

.hover:hover /*general*/
{
    cursor: pointer;
    transform: scale(1.1);
}

.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

ul li a /*header*/
{
    text-decoration: none;
}

.deplacement
{
    margin-left: 35px;
}

.conteneur1 ligne /*header*/
{
    border-top: 2px solid #0065FC;
}

.inscription /*header*/
{
    color: #0065FC;
}

.conteneur /*filtres*/
{
    display: flex;
    align-items: center;
}

.filtres /*filtres*/
{
    margin-left: 40px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.deplacement2 /*filtres*/
{
    margin-right: 20px;
}

.centrage /*filtres*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones /*filtres*/
{
    color: #0065fc;
    border: 1px solid grey;
    height: 45px;
    border-radius: 25px;
    margin-right: 15px;
}

.Decoration
{
    text-decoration: none;
}

.icones:hover
{
    cursor: pointer;
    transform: scale(1.1);
}

.texte /*filtres*/
{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0 25px 25px 0;
    color: black;
    text-decoration: none;
}

.rond /*filtres*/
{
    margin-left: -2px;
    border-radius: 25px;
    width: 48px;
    height: 48px;
    columns: #0065fc;
    background-color:#deebff;
}

.conteneur-recherche /*recherche*/
{
    width: 400px;
    border-radius: 10px;
    margin-left: 12px;
}

.position /*recherche*/
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConteneurIcone /*recherche*/
{
    background-color: #F2F2F2;
    height: 50px;
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -2px;
}

.casevide /*recherche*/
{
    height: 44px;
    width: 200px;
    font-size: 18px;
    color: black;
}

.couleur /*recherche*/
{
    background-color: blue;
    height: 50px;
    width: 100px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.info2 /*info*/
{
display: flex;
align-items: center;
margin: 30px;
}

.texteinfo /*info*/
{
    margin-left: 15px;
}

.cercle2 /*info*/
{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #deebff;
    color: #0065fc;
    display:flex;
    justify-content: center;
    align-items: center;
}

.couleur2 /*info*/
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Alignement /*hébergement à Marseille*/
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.conteneur_hebergements /*hébergement à Marseille*/
{
    padding: 20px;
    background-color: #F2F2F2;
    display: inline-flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    border-radius: 3% 3% 3% 3%;
    margin: 25px;
    margin-top: 30px;
    padding-top: 80px;
    
}

.hebergements
{
    margin-top: -40px;
    margin-left: 25px;
}

.etoile1 /*general*/
{
    color: #0065FC;
    padding-left: 10px;
}

.etoile2 /*general*/
{
    color: #F2F2F2;
    
}

.arrondi1 /*hébergement à Marseille*/
{
    border-radius: 5% 5% 0 0;
    width: 250px;
}

.arrondi2 /*Hébergements à Marseille*/
{
    width: 250px;
    border-radius: 5% 5% 0 0;
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 20px;
    margin-left: 3%;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
    margin-left: -287px;
}  

h3 /*hébergement à Marseille*/
{
    margin-top: -2px;
    margin-left: 10px;
    font-weight: bold;
}


.tarif /*hébergement à Marseille*/
{
    margin-top: -15px;
    margin-left: 10px;
}

.port /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
}

.mouettes /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
}

.mer /*hébergement à Marseille*/
{
    margin: 20px;
    margin-left: 3%;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
}

.panier /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
}

.amina /*hébergement à Marseille*/
{
    margin: 20px;
    padding: 5px;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    width: 250px;
    height: 270px;
}

.bordure
{
    margin-left: 25px;
}
.populaires /*les populaires*/
{
    height: 735px;
    padding: 20px;
    margin: 10px;
    background-color:#F2F2F2;
    flex-wrap: wrap;
    display: flex;
    border-radius: 3% 3% 3% 3%;
    width: 400px;
}

.arrondi3 /*les populaires*/
{
    width: 160px;
    height: 120px;
    object-fit: cover;
    border-radius: 5% 0 0 5%;
}
.titre /*les populaires*/
{
    margin-top: 30px;
    height: 40px;
    margin-left: 23px;
}

.icone1 /*les populaires*/
{
    padding-left: 90px;
}

.soleil /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 125px;
    border-radius: 5% 5% 5% 5%;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 3px;
    margin-top: -50px;
    display: flex;
}

.textepoulaire /*les populaires*/
{
    margin-left: 20px;
    
}

.textepoulaire p /*les populaires*/
{
margin-top: 0px;
}

.textepoulaire h4 /*les populaires*/
{
 margin-top: 0px;
 margin-bottom: 0px;
}

.etoile1
{
    margin-top: 30px;
    margin-left: 0%;
}

.coeur /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 125px;
    border-radius: 5% 5% 5% 5%;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 3px;
    display: flex;
}

.bleu /*les populaires*/
{
    background-color: white;
    margin: 15px;
    width: 350px;
    height: 125px;
    border-radius: 5% 5% 5% 5%;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 3px;
    display: flex;
}

.activités /*Activités à Marseille*/
{
    width: 97%;
    height: 30%;
}

.titreactivités /*Activités à Marseille*/
{
   font-size: 1.7em; 
   margin-left: 4%;
}

.bloc1 /*Activités à Marseille*/
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.bloc2 /*Activités à Marseille*/
{
   width: 20%;
   height: 100%;
   margin-left: 2%;
   border-radius: 5% 5% 5% 5%;
   background-color: white;
   border: 2px solid #F2F2F2;
}

.bloc3 /*Activités à Marseille*/
{
    width: 95%;
    flex-direction: column;
    border-radius: 5% 5% 5% 5%;
    background-color: white;
    margin: 25px;
    border: 2px solid #F2F2F2;
    
}


.arrondi4 /*Activités à Marseille*/
{
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: 453px;
    object-fit: cover;
}

.arrondi5 /*Activités à Marseille*/
{
    border-radius: 5% 5% 0 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.emplacement
{
    margin-left: 5%;
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #F2F2F2;
    height: 230px;
}

.footer1 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 50px
}

.footer2 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.footer3 /*footer*/
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

a /*general*/
{
    color: black;
}













