body
{
    font-family: 'Raleway', sans-serif;
}

.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

#conteneur-recherche /*recherche*/
{
    
    padding: 15px;
    
}

.filtres /*filtres*/
{
    list-style-type: none;
}

.hebergements
{
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: silver;
    width: 50%;
}

.conteneur_hebergements
{
    display: flex;
    flex-direction: row;
}

.Hebergements1 /*hébergement à Marseille*/
{
    
    display: flex;
    flex-wrap: wrap;
    
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.port /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.mouettes /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.hebergements2
{
    display: flex;
    flex-wrap: wrap;
}

.mer /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.panier /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.amina /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.arrondi2
{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.populaires /*les populaires*/
{
    
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    flex-wrap: wrap;
    border-radius: 10%;
}

.soleil /*les populaires*/
{
    background-color: white;
    margin: 15px;
}

.coeur /*les populaires*/
{
    background-color: white;
    margin: 15px;
}

.bleu /*les populaires*/
{
    background-color: white;
    margin: 15px;
}


.arrondi3
{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}


.activités /*Activités à Marseille*/
{
    display: flex;
   border: 1px solid red;
    
}

.port2 /*Activités à Marseille*/
{
   
    
    width: 90%;
    margin: 10px;
    border: 1px solid red;
}

.fort /*Activités à Marseille*/
{
   
    
    width: 100%;
    margin: 10px;
    border: 1px solid red;
}

.iles /*Activités à Marseille*/
{
    
    border: 1px solid red;
    width: 100%;
    margin: 10px;
}

.paysage /*Activités à Marseille*/
{
    
    border: 1px solid red;
    width: 90%;
    margin: 10px;
}

.eglise /*Activités à Marseille*/
{
    
    border: 1px solid red;
    width: 100%;
    margin: 10px;
}

.parc /*Activités à Marseille*/
{
    
    border: 1px solid red;
    width: 100%;
    margin: 10px;
}

footer /*footer*/
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: #f4f4f4;
    height: 230px;
}

.footer1
{
    
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 50px
}

.footer2
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    
}

.footer3
{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
   
}

a{
    color: black;
}











