.conteneur1 /*header*/
{
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.elements /*header*/
{
    padding: 30px;
    font-size: 20px;
    list-style-type: none;
}

#conteneur-recherche /*recherche*/
{
    
    padding: 15px;
    
}

.filtres /*filtres*/
{
    list-style-type: none;
}

.hebergements
{
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: silver;
    width: 50%;
}




.Hebergements1 /*hébergement à Marseille*/
{
    
    display: flex;
    flex-wrap: wrap;
    
}

.cannebiere /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.port /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.mouettes /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.hebergements2
{
    display: flex;
    flex-wrap: wrap;
}

.mer /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.panier /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.amina /*hébergement à Marseille*/
{
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.populaires
{
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    background-color: silver;
    flex-wrap: wrap;
}

.soleil
{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    margin: 15px;
}

.coeur
{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    margin: 15px;
}

.bleu
{
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    margin: 15px;
}








